<div class="boardNav">
  <span class="boardList">
    <span class="braces">
      [<% @boards.each do |board| %>
      /<%= link_to board.name, board_path(board) %>
      <% end %>]
    </span>
    <span class="braces">[<%= link_to "Home", root_path %>]</span>
  </span>
</div>

<div class="boardBanner">
  <div id="boardCnt">
    Placeholder
  </div>
  <div class="boardTitle">
    <%= @board.name %>
  </div>
</div>

<hr />

<div id="togglePostForm">
  [<%= link_to "Post a New Reply", "#" %>]
</div>

<div id="form-container">
  <%= render "shared/posts_form" %>
</div>

<hr />

<%= @topic.thread_name %>
<%= @topic.description %>
