<div class="boardNav">
  <span class="boardList">
    <span class="braces">
      [<% @boards.each do |board| %>
      /<%= link_to board.name, board_path(board) %>
      <% end %>]
    </span>
    <span class="braces">[<%= link_to "Home", root_path %>]</span>
  </span>
</div>

<div class="boardBanner">
  <div id="boardCnt">
    Placeholder
  </div>
  <div class="boardTitle">
    <%= @board.name %>
  </div>
</div>

<hr />

<div id="togglePostForm">
  [<%= link_to "Post a New Reply", "#" %>]
</div>

<div id="form-container">
  <%= render "shared/posts_form" %>
</div>

<hr />

<div class="board">
<div class="thread">
  <div class="postContainer opContainer" id="pc<%= @topic.id %>">
    <div id="p<%= @topic.id %>", class="post op">
      <div class="file" id="f<%= @topic.id %>">
        <div class="fileText" id="fT<%= @topic.id %>">
          File:
          <a href="placeholder"></a>
           (450 KB, 1920x768)
        </div>
        <a class="fileThumb" href="placeholder"></a>
      </div>
      <div class="postInfo desktop" id="pi<%= @topic.id %>">
        <span class="subject"><%= @topic.thread_name %></span>
        <span class="nameBlock">
          <span class="name">Anonymous</span>
        </span>
        <span class="dateTime"><%= @topic.created_at %></span>
        <span class="postNum desktop">No.<%= @topic.id %></span>
      </div>
      <blockquote class="postMessage" id="m<%= @topic.id %>">
        <%= simple_format @topic.description %>
      </blockquote>
    </div>
  </div>
  <% @topic.posts.each do |post| %>
    <% unless post.post_description.nil? %>
      <div class="postContainer replyContainer" id="pc<%= post.id %>">
        <div class="sideArrows" id="sa<%= post.id %>">>></div>
        <div id="p<%= post.id %>" class="post reply">
          <div class="postInfo desktop" id="pi<%= post.id %>">
            <span class="subject"><%= post.post_title %></span>
            <span class="nameBlock">
              <span class="name">Anonymous</span>
            </span>
            <span class="dateTime"><%= post.created_at %></span>
            <span class="postNum Desktop">No.<%= post.id %></span>
          </div>
        <% unless post.post_image? %>
          <blockquote class="postMessage" id="m<%= post.id %>">
            <%= simple_format post.post_description %>
          </blockquote>
        <% else %>
          <div class="file" id="f<%= post.id %>">
            <div class="fileText" id="fT<%= post.id %>">
              File:
              <%= link_to "#{post.post_image_file_name}", post.post_image.url(:original) %>
              <%= post.post_image_file_size %>KB
            </div>
            <a class="fileThumb">
              <%= image_tag post.post_image.url(:thumb) %>
            </a>
          </div>
          <blockquote class="postMessage" id="m<%= post.id %>">
            <%= post.post_description %>
          </blockquote>
        <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
</div>
