<div class="index-container">
  <div class="box-outer top-box" id="boards">
    <div class="box-inner">
      <div class="box-bar">
        <h2>Boards</h2>
      </div>
      <div class="box-content">
        <div class="column">
          <h3>Interests</h3>
          <ul>
            <% @boards.interests.each do |board| %>
              <li><%= link_to board.name, board_path(board) %></li>
            <% end %>
          </ul>
        </div>
        <div class="column">
          <h3>Creative</h3>
          <ul>
            <% @boards.creative.each do |board| %>
              <li><%= link_to board.name, board_path(board) %></li>
            <% end %>
          </ul>
        </div>
        <div class="column">
          <h3>Other</h3>
          <ul>
            <% @boards.other.each do |board| %>
              <li><%= link_to board.name, board_path(board) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="index-container">
  <div class="left-container">
    <div class="box-outer left-box" id="recent-images">
      <div class="box-inner">
        <div class="box-bar">
          <h2>Recent Images</h2>
        </div>
        <div class="box-content">
          <% @boards.sample(3).each do |board| %>
          <ul>
            <% unless board.posts.last.nil? %>
              <% if board.posts.last.post_image? %>
                <li><%= link_to "#{board.posts.last.post_image_file_name}", board.posts.last.post_image.url(:original) %> <%= image_tag board.posts.last.post_image(:thumb) %></li>
              <% end %>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <div class="box-outer right-box" id="recent-topics">
      <div class="box-inner">
        <div class="box-bar">
          <h2>Latest Posts</h2>
        </div>
        <div class="box-content">
          <% @boards.sample(10).each do |board| %>
          <ul>
          <% unless board.topics.last.nil? %>
            <li><%= board.name %>: <%= link_to board.topics.last.topic_name, board_topic_path(board, board.topics.last) %></li>
          </ul>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
