<div class="boardNav">
  <span class="boardList">
    <span class="braces">
      [<% @boards.each do |board| %>
      /<%= link_to board.name, board_path(board) %>
      <% end %>]
    </span>
    <span class="braces">[<%= link_to "Home", root_path %>]</span>
  </span>
</div>

<div class="boardBanner">
  <div id="boardCnt">
    Placeholder
  </div>
  <div class="boardTitle">
    <%= @board.name %>
  </div>
</div>

<hr />

<div id="togglePostForm">
  [<%= link_to "Start a New Topic", "#" %>]
</div>

<div id="form-container">
  <%= render "shared/topic_form" %>
</div>

<hr />

<hr />

<div class="board">
  <% @topics.each do |topic| %>
    <div class="topic" id="t<%= topic.id %>">
      <div class="postContainer opContainer" id="pc<%= topic.id %>">
        <div id="p<%= topic.id %>" class="post op">
          <div class="file" id="f<%= topic.id %>">
            <div class="fileText" id="fT<%= topic.id %>">
              File:
              <%= link_to "#{topic.topic_image_file_name}", topic.topic_image.url(:original) %>
              <%= topic.topic_image_file_size %>KB
            </div>
            <a class="fileThumb">
              <%= image_tag topic.topic_image.url(:thumb) %>
            </a>
          </div>
          <div class="postInfo desktop" id="pi<%= topic.id %>">
            <span class="subject"><%= topic.topic_name %></span>
            <span class="nameBlock">
              <span class="name">Anonymous</span>
            </span>
            <span class="dateTime"><%= topic.created_at %></span>
            <span class="postNum desktop">No.<%= topic.id %>
            <span>[<%= link_to "Reply", board_topic_path(@board, topic) %>]</span>
            </span>
          </div>
          <blockquote class="postMessage" id="m<%= topic.id %>">
            <%= topic.description %>
          </blockquote>
        </div>
      </div>
      <% topic.last_five_posts.each do |post| %>
        <div class="postContainer replyContainer" id="pc<%= post.id %>">
          <div class="sideArrows" id="sa<%= post.id %>">>></div>
          <div id="p<%= post.id %>" class="post reply">
            <div class="postInfo desktop" id="pi<%= post.id %>">
              <span class="subject"><%= post.post_title %></span>
              <span class="nameBlock">
                <span class="name">Anonymous</span>
              </span>
              <span class="dateTime"><%= post.created_at %></span>
              <span class="postNum desktop">No.<%= post.id %></span>
            </div>
            <% unless post.post_image? %>
              <blockquote class="postMessage" id="m<%= post.id %>">
                <%= post.post_description %>
              </blockquote>
            <% else %>
              <div class="file" id="f<%= post.id %>">
                <div class="fileText" id="fT<%= post.id %>">
                  File:
                  <%= link_to "#{post.post_image_file_name}", post.post_image.url(:original) %>
                  <%= post.post_image_file_size %>KB
                </div>
                <a class="fileThumb">
                  <%= image_tag post.post_image.url(:thumb) %>
                </a>
                <blockquote class="postMessage" id="m<%= post.id %>">
                  <%= post.post_description %>
                </blockquote>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <hr />
    </div>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @topics %>
</div>
