<div class="boardNav">
  <span class="boardList">
    <span class="braces">
      [<% @boards.each do |board| %>
      /<%= link_to board.name, board_path(board) %>
      <% end %>]
    </span>
    <span class="braces">[<%= link_to "Home", root_path %>]</span>
  </span>
</div>

<div class="boardBanner">
  <div id="boardCnt">
    Placeholder
  </div>
  <div class="boardTitle">
    <%= @board.name %>
  </div>
</div>

<hr />

<div id="togglePostForm">
  [<%= link_to "Start a New Thread", "#" %>]
</div>

<div id="form-container">
  <%= render "shared/topic_form" %>
</div>

<hr />

<div class="board">
  <% @topics.each do |topic| %>
    <div class="thread" id="t<%= topic.id %>">
      <div class="postContainer opContainer" id="pc<%= topic.id %>">
        <div id="p<%= topic.id %>" class="post op">
          <div class="file" id="f<%= topic.id %>">
            <div class="fileText" id="ft<%= topic.id %>">
              File:
              filelink.jpg
              (size KB, 250x250)
            </div>
            <a class="fileThumb"></a>
          </div>
          <div class="postInfo desktop" id="pi<%= topic.id %>">
            <span class="subject"><%= topic.thread_name %></span>
            <span class="nameBlock">
              <span class="name">Anonymous</span>
            </span>
            <span class="dateTime"><%= topic.created_at %></span>
            <span class="postNum desktop">No.<%= topic.id %>
              <span>[<%= link_to "Reply", board_topic_path(@board, topic) %>]</span>
            </span>
          </div>
          <blockquote class="postMessage" id="m<%= topic.id %>">
            <%= topic.description %>
          </blockquote>
        </div>
      </div>
      Now we need to iterate over scope of first 5 posts of this topic
      <hr />
    </div>
  <% end %>
</div>

<hr />
