<footer class="footer" role="contentinfo">

  <ul>
    <li class="fill"></li>
    <li class="first"><%= link_to "Home", root_path %></li>
    <li><%= link_to "FAQ", page_path("faq") %></li>
    <li><%= link_to "Rules", page_path("rules") %></li>
  </ul>

  <div class="footer-secondary-links">
    <%= link_to "About", page_path("about") %> •
    <%= link_to "Contact", page_path("contact") %>
  </div>
</footer>

