<!DOCTYPE html>
<html>
<head>
  <title>Uchan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="outer-container">
    <div class="error-container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
    </div>
      <%= render "layouts/logo" %>
      <div id="main">
        <%= yield %>
      </div>
  </div>

  <%= render "layouts/footer" %>
</body>
</html>
